<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Gestes Téchniques</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Transfusion sanguine.pdf</string>
			<key>Description</key>
			<string>La technique de transfusion sanguine</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pansement.pdf</string>
			<key>Description</key>
			<string>Techinques de pansement</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Injections.pdf</string>
			<key>Description</key>
			<string>Generalités Injections</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Injection IM et IV.pdf</string>
			<key>Description</key>
			<string>Séminaire Injection IM et IV</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Introduction.pdf</string>
			<key>Description</key>
			<string>Introduction aux gestes techniques</string>
		</dict>
	</array>
	<key>Ostéoarticulaire</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Loco3.pdf</string>
			<key>Description</key>
			<string>ECC locomoteur</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Loco2.pdf</string>
			<key>Description</key>
			<string>ECC locomoteur</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Loco1.pdf</string>
			<key>Description</key>
			<string>ECC locomoteur</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Système ostéo-articulaire.pdf</string>
			<key>Description</key>
			<string>Cahier du système ostéo-articulaire</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Genou.pdf</string>
			<key>Description</key>
			<string>Anatomie du Genou</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Coude.pdf</string>
			<key>Description</key>
			<string>Anatomie du Coude</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Main-innervation.pdf</string>
			<key>Description</key>
			<string>Innervation de la main</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Myologie dos.pdf</string>
			<key>Description</key>
			<string>Myologie du dos</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Myologie MI.pdf</string>
			<key>Description</key>
			<string>Myologie des MI</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Myologie MS.pdf</string>
			<key>Description</key>
			<string>Myologie des MS</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Rachis.pdf</string>
			<key>Description</key>
			<string>Anatomie du Rachis</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hanche.pdf</string>
			<key>Description</key>
			<string>Anatomie de la Hanche</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pied.pdf</string>
			<key>Description</key>
			<string>Anatomie du Pied</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Main.pdf</string>
			<key>Description</key>
			<string>Anatomie de la Main</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Epaule.pdf</string>
			<key>Description</key>
			<string>Anatomie de l&apos;Epaule</string>
		</dict>
	</array>
	<key>Pharmacologie</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Polycopié de pharmacologie 2014.pdf</string>
			<key>Description</key>
			<string>Polycopié de pharmacologie</string>
		</dict>
	</array>
	<key>Neurologie</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Neuro2.pdf</string>
			<key>Description</key>
			<string>ECC Neurologie</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Neuro3.pdf</string>
			<key>Description</key>
			<string>ECC Neurologie</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Neuro1.pdf</string>
			<key>Description</key>
			<string>ECC Neurologie</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>vascularisationSNC2013.pdf</string>
			<key>Description</key>
			<string>Vascularisation de SNC</string>
		</dict>
	</array>
	<key>Cardiovasculaire</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Vasculaire.pdf</string>
			<key>Description</key>
			<string>Cahier TP - Vasculaire</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cardio.pdf</string>
			<key>Description</key>
			<string>ECC Cardio</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cahier TP Lymph.pdf</string>
			<key>Description</key>
			<string>Cahier TP - Système Lymphatique</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cahier TP Cardio.pdf</string>
			<key>Description</key>
			<string>Cahier TP - Cardiovasculaire</string>
		</dict>
	</array>
	<key>Digestif</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Digestif2.pdf</string>
			<key>Description</key>
			<string>ECC digestif</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Digestif1.pdf</string>
			<key>Description</key>
			<string>ECC digestif</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cahier TP Digestif.pdf</string>
			<key>Description</key>
			<string>Cahier TP - Système Digestif </string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Semiologie1.pdf</string>
			<key>Description</key>
			<string>Semiologie Digestif #1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Semiologie3.pdf</string>
			<key>Description</key>
			<string>Semiologie Digestif #3</string>
		</dict>
	</array>
	<key>Respiratoire</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Sémiologie.pdf</string>
			<key>Description</key>
			<string>Sémiologie Respiratoire</string>
		</dict>
	</array>
	<key>Urinaire</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Uro.pdf</string>
			<key>Description</key>
			<string>ECC - Urologie</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Cahier TP genitaux.pdf</string>
			<key>Description</key>
			<string>Cahier TP - Organes Genitaux</string>
		</dict>
	</array>
</dict>
</plist>
