<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SCREEN_HTT</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>Head To Toe</string>
	</dict>
	<key>SCREEN_LABORATOIRE</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>LABORATOIRE</string>
	</dict>
	<key>SCREEN_DOCUMENTS</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>DOCUMENTS</string>
	</dict>
	<key>SCREEN_VIDEOS</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>VIDEOS</string>
	</dict>
	<key>SCREEN_ADMISSION</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>ADMISSION</string>
	</dict>
	<key>SCREEN_FEED</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>Living</string>
	</dict>
	<key>SCREEN_MENU</key>
	<dict>
		<key>CELL_ROW0</key>
		<string>Cardiovasculaire</string>
		<key>CELL_ROW1</key>
		<string>Digestif</string>
		<key>CELL_ROW2</key>
		<string>Médecine interne</string>
		<key>CELL_ROW3</key>
		<string>Neurologique</string>
		<key>CELL_ROW4</key>
		<string>Ostéoarticulaire</string>
		<key>CELL_ROW5</key>
		<string>Psychiatrie</string>
		<key>CELL_ROW6</key>
		<string>Respiratoire</string>
		<key>CELL_ROW7</key>
		<string>Urinaire</string>
		<key>CELL_ROW8</key>
		<string>Compétences médicales</string>
		<key>CELL_ROW9</key>
		<string>Gestes Techniques</string>
		<key>CELL_ROW10</key>
		<string>Pharmacologie</string>
		<key>CELL_ROW11</key>
		<string>Urgences</string>
		<key>CELL_ROW12</key>
		<string>Pediatrie</string>
		<key>CELL_ROW13</key>
		<string>Dermatologie</string>
	</dict>
	<key>SCREEN_SEARCH</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>Recherche</string>
	</dict>
	<key>SCREEN_SETTING</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>Setting</string>
	</dict>
	<key>SCREEN_ADD</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>Add</string>
	</dict>
	<key>SCREEN_ELEMENT</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>Elements</string>
	</dict>
	<key>SCREEN_WEBVIDEO</key>
	<dict>
		<key>NAV_TITLE</key>
		<string>VIDEO</string>
	</dict>
</dict>
</plist>
