<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Respiratoire</key>
	<array>
		<dict>
			<key>Name</key>
			<string>8rWjz8Xt-FI</string>
			<key>Description</key>
			<string>Introduction</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>BUL_OXZyeKg</string>
			<key>Description</key>
			<string>Inspection</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>w54K514x_I4</string>
			<key>Description</key>
			<string>Palpation</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Pvj_qTxThlo</string>
			<key>Description</key>
			<string>Percussion</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>AEgdLq1EcLY</string>
			<key>Description</key>
			<string>Auscultation</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>L19PVsD--KA</string>
			<key>Description</key>
			<string>Examen respiratoire OSCE</string>
		</dict>
	</array>
	<key>Urgences</key>
	<array>
		<dict>
			<key>Name</key>
			<string>hLuC0T7RsKI</string>
			<key>Description</key>
			<string>Examen d&apos;un patient traumatisé</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>n5DUC1Lit08</string>
			<key>Description</key>
			<string>Dysfonction multisystémique</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>PzyTXXQp2j8</string>
			<key>Description</key>
			<string>Dysfonction multisystémique 2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>hHHy1mc7sqY</string>
			<key>Description</key>
			<string>Pose d&apos;un collier cervical</string>
		</dict>
	</array>
	<key>Cardiovasculaire</key>
	<array>
		<dict>
			<key>Name</key>
			<string>Hrzlky-Nt1I</string>
			<key>Description</key>
			<string>Inspection</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>9z48vDNuiPE</string>
			<key>Description</key>
			<string>Palpation et percussion</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>SFfRhP8nu8w</string>
			<key>Description</key>
			<string>Auscultation normale</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>FTsOl5-X7-k</string>
			<key>Description</key>
			<string>Auscultation pathologique</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Hjk01LmNujM</string>
			<key>Description</key>
			<string>Auscultation pathologique 2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>mEAUiLYpdIA</string>
			<key>Description</key>
			<string>Souffles Cardiaques</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>SJ3UwKkLyy0</string>
			<key>Description</key>
			<string>Examen cardiovasculaire OSCE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>KoNts7ArgkM</string>
			<key>Description</key>
			<string>Examen vasculaire OSCE</string>
		</dict>
	</array>
	<key>Neurologie</key>
	<array>
		<dict>
			<key>Name</key>
			<string>PcZuTEwHSrw</string>
			<key>Description</key>
			<string>Examen moteur - 1 </string>
		</dict>
		<dict>
			<key>Name</key>
			<string>arwGZ44C7xM</string>
			<key>Description</key>
			<string>Nerfs crâniens OSCE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jz_sE4A0nWA</string>
			<key>Description</key>
			<string>Examen neuro des MI OSCE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>S7H1pqRlVqc</string>
			<key>Description</key>
			<string>Examen neuro des MS OSCE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>erfHBi-ybQ0</string>
			<key>Description</key>
			<string>Examen cérébelleux OSCE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>wgWOmuB1VFY</string>
			<key>Description</key>
			<string>Test de Dix Hallpike</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>hiP7ifVxb0Q</string>
			<key>Description</key>
			<string>Manœuvre de Semont</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>jBzID5nVQjk</string>
			<key>Description</key>
			<string>Manœuvre de Epley</string>
		</dict>
	</array>
	<key>Compétences médicales</key>
	<array>
		<dict>
			<key>Name</key>
			<string>jGf8NvqoTNs</string>
			<key>Description</key>
			<string>Tête-pied 1</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Ucor4aie6E4</string>
			<key>Description</key>
			<string>Tête-pied 2</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>WOZzx5SmY8</string>
			<key>Description</key>
			<string>Tête-pied 3</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>7KJ7o1lUyP8</string>
			<key>Description</key>
			<string>Tête-pied 4</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>0es_6zWDMOQ</string>
			<key>Description</key>
			<string>Tête-pied 5</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>rlWRaxmi39g</string>
			<key>Description</key>
			<string>Tête-pied 6</string>
		</dict>
	</array>
	<key>Digestif</key>
	<array>
		<dict>
			<key>Name</key>
			<string>ux607iZi8-k</string>
			<key>Description</key>
			<string>Examen digestif complet Bates</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>w0KoH1pn2qY</string>
			<key>Description</key>
			<string>Inspection</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>ZoXbHvFhbi0</string>
			<key>Description</key>
			<string>Auscultation</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>SttVJb4FhGg</string>
			<key>Description</key>
			<string>Percussion</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>FZymEb1Nmb4</string>
			<key>Description</key>
			<string>Palpation</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>W8uI15AbH7s</string>
			<key>Description</key>
			<string>Palpation du Foie</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>fH9H7dX9cRI</string>
			<key>Description</key>
			<string>Palpation de la Rate</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>Jo11Ev0u-Zk</string>
			<key>Description</key>
			<string>Palpation - Aorte et LR</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>QO8r_xqamyc</string>
			<key>Description</key>
			<string>Examen digestif OSCE</string>
		</dict>
	</array>
	<key>Ostéoarticulaire</key>
	<array>
		<dict>
			<key>Name</key>
			<string>x_ryfIlqR0k</string>
			<key>Description</key>
			<string>Examen de l&apos;épaule OSCE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>urA0CkfCG4g</string>
			<key>Description</key>
			<string>Examen de la colonne vertébrale OSCE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>pT1ZHVbpsuw</string>
			<key>Description</key>
			<string>Examen du genou OSCE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>xKNBfIxRlCs</string>
			<key>Description</key>
			<string>Examen des mains OSCE</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>g8-dMuzWal4</string>
			<key>Description</key>
			<string>Recherche de déformation</string>
		</dict>
	</array>
	<key>Gestes Techniques</key>
	<array>
		<dict>
			<key>Name</key>
			<string>e58lLJ-2gBI</string>
			<key>Description</key>
			<string>Prise de sang</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>h8DlRtqgh8c</string>
			<key>Description</key>
			<string>Voie veineuse périphérique</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>k1jvywxyBt0</string>
			<key>Description</key>
			<string>Injections IM et SC</string>
		</dict>
	</array>
</dict>
</plist>
