<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Anamnèse Générale</key>
	<dict>
		<key>Antécédents personnels</key>
		<array>
			<string>Maladies,Pas d&apos;autres maladies,Oui</string>
			<string>Interventions chirurgicales,Pas d&apos;interventions chirurgicales,Oui</string>
			<string>Traumatismes,,Oui</string>
			<string>Hospitalisations,Pas d&apos;hospitalisations jusqu&apos;à présent, Oui</string>
			<string>ATCD psychiatriques,Pas d&apos;ATCD psychiatriques, Oui</string>
			<string>Autres ATCD,Pas d&apos;autres ATCD, Oui</string>
		</array>
		<key>Anamnèse actuelle</key>
		<array>
			<string>Qu&apos;est-ce qui vous amène aujourdhui ?, Non Renseigné,</string>
		</array>
		<key>Anamnèse psychosociale</key>
		<array>
			<string>Transferts, Transferts possibiles, </string>
			<string>Marche, Pas de trouble de la marche</string>
			<string>AVQ/AVI, AVQ/AVI SP</string>
			<string>Aide à domicile, Pas d&apos;aide à domicile</string>
		</array>
		<key>Habitudes</key>
		<array>
			<string>Tabac,,Oui</string>
			<string>Alcool, Pas de consommation d&apos;alcool, Oui</string>
			<string>Drogues, ,Oui</string>
			<string>Alimentation, Alimentation conservée, </string>
			<string>Exercice, Exercice : non renseigné</string>
			<string>Allergies, Pas d&apos;allergies, Oui</string>
			<string>Médicaments</string>
		</array>
		<key>FRCV</key>
		<array>
			<string>HTA, Pas d&apos;HTA, Oui</string>
			<string>Tabac, ,Oui</string>
			<string>Diabète, ,Oui</string>
			<string>Hypercholestérolémie, Pas d&apos;hypercholestérolémie, Oui</string>
			<string>ATCD Familiaux, Pas d&apos;ATCD familiaux, Oui</string>
		</array>
	</dict>
	<key>Anamnèse par système</key>
	<dict>
		<key>Général</key>
		<array>
			<string>Fièvre, ,Oui</string>
			<string>Frissons ,,Oui</string>
			<string>Sudations nocturnes, ,Oui</string>
			<string>Perte d&apos;appétit,,Oui</string>
			<string>Perte de poids,, Oui</string>
			<string>Asthénie, Pas d&apos;Asthénie, Oui</string>
			<string>Troubles du sommeil, ,Oui</string>
		</array>
		<key>Peau</key>
		<array>
			<string>Eruptions cutanées, Pas d&apos;éruption cutanées</string>
			<string>Hématomes, Pas d&apos;hématomes</string>
			<string>Lésions</string>
		</array>
		<key>Cardiovasculaire</key>
		<array>
			<string>Douleurs thoraciques</string>
			<string>Dyspnée d&apos;effort</string>
			<string>Orthopnée, Pas d&apos;orthopnée</string>
			<string>Dyspnée paroxystique nocturne</string>
			<string>Nycturie</string>
			<string>Oedèmes des MI, Pas d&apos;oedèmes des MI</string>
			<string>Palpitations</string>
			<string>Syncope</string>
			<string>Claudication intermittente</string>
		</array>
		<key>Respiratoire</key>
		<array>
			<string>Toux</string>
			<string>Expectorations, Pas d&apos;expectorations</string>
			<string>Dyspnée</string>
			<string>Douleurs thoraciques</string>
			<string>Douleurs respiro-dépendantes</string>
			<string>Hémoptysie, Pas d&apos;hémoptysie</string>
			<string>Respiration sifflante</string>
		</array>
		<key>Digestif</key>
		<array>
			<string>Transit, Transit normal, Transit perturbé</string>
			<string>Diarrhées</string>
			<string>Melena</string>
			<string>Douleurs abdominales</string>
			<string>Nausées</string>
			<string>Vomissements</string>
			<string>Perte d&apos;appétit,</string>
			<string>Dyspepsie</string>
			<string>Pyrosis</string>
			<string>Régurgitations</string>
			<string>Ictère/prurit, Pas d&apos;ictère/prurit</string>
		</array>
		<key>Uro-génital</key>
		<array>
			<string>Dysurie</string>
			<string>Algurie/Brûlure, Pas d&apos;algurie/brûlure</string>
			<string>Nycturie</string>
			<string>Polyurie</string>
			<string>Oligurie, Pas d&apos;oligurie</string>
			<string>Pollakiurie</string>
			<string>Hématurie, Pas d&apos;hématurie</string>
			<string>Incontinence urinaire, Pas d&apos;incontinence urinaire</string>
			<string>Urgence mictionnelle, Pas d&apos;urgence mictionelle</string>
			<string>Prostatisme</string>
			<string>Trouble de l&apos;érection</string>
		</array>
		<key>Gynécologique</key>
		<array>
			<string>Grossesse, Pas d&apos;ATCD de grossesse</string>
			<string>Durée des menstruations,Durée des menstruations sp,</string>
			<string>Périodicité des menstruations, Périodicité des menstruations sp</string>
			<string>Dysménorrhée</string>
			<string>Ménorrhagie</string>
			<string>Date des dernières règles, Date des dernières règles non renseignée,</string>
			<string>Dyspareunie</string>
			<string>Pertes vaginales</string>
			<string>Ménarche, pas de trouble de la ménarche, </string>
			<string>Ménopause, Non ménopausée</string>
		</array>
		<key>Neurologique</key>
		<array>
			<string>Céphalées</string>
			<string>Troubles du sommeil</string>
			<string>Vertiges</string>
			<string>Faiblesse musculaire</string>
			<string>Convulsions</string>
			<string>Perte de connaissance</string>
			<string>Syncope</string>
			<string>Acuité visuelle, Pas de troubles visuels,</string>
			<string>Audition, Pas de trouble de l&apos;audition</string>
			<string>Paresthésies</string>
			<string>Perte de mémoire</string>
			<string>Changement de personnalité</string>
			<string>Anxiété, Pas d&apos;anxiété</string>
			<string>Dépression</string>
		</array>
		<key>Ostéoarticulaire</key>
		<array>
			<string>Douleurs articulaires</string>
			<string>Tuméfaction</string>
			<string>Raideur</string>
		</array>
	</dict>
	<key>Examen Physique</key>
	<dict>
		<key>Général</key>
		<array>
			<string>TA, Normotendu</string>
			<string>Pouls, Normocarde</string>
			<string>T°, Afébrile</string>
			<string>Poids, Poids non renseigné</string>
			<string>Saturation O2%, Pas de desaturations</string>
			<string>Asthénie, Pas d&apos;asthénie</string>
			<string>Cyanose</string>
			<string>Ictère, Pas d&apos;ictère</string>
		</array>
		<key>Cardiovasculaire</key>
		<array>
			<string>Auscultation Cardiaque,B1-B2 bien frappé</string>
			<string>Souffle Cardiaque</string>
			<string>Turgescence jugulaire</string>
			<string>Reflux hepato-jugulaire</string>
			<string>Souffle Carotidien</string>
			<string>Oedèmes des MI, Pas d&apos;oedèmes des MI</string>
			<string>Pouls Radial, Pouls Radial Present</string>
			<string>Pouls Fémoral, Pouls Fémoral present</string>
			<string>Pouls Poplité, Pouls Poplité present</string>
			<string>Pouls Tibial postérieur, Pouls tibial postérieur present</string>
			<string>Pouls Pédieux, Pouls pédieux present</string>
		</array>
		<key>Respiratoire</key>
		<array>
			<string>Auscultation Respiratoire, MVS</string>
			<string>Bruits Sur Rajoutés</string>
			<string>Stridor</string>
			<string>Hypoventilation, Pas de foyer d&apos;hypoventilation</string>
			<string>Percussion, Percussion normale</string>
		</array>
		<key>Digestif</key>
		<array>
			<string>Bruits - Fréquence, Bruits de fréquence normale</string>
			<string>Bruits - Tonalité, Bruits de tonalité normale</string>
			<string>Palpation Abdominale, ASI</string>
			<string>HSM, Pas d&apos;HSM</string>
			<string>Détente</string>
			<string>Défense</string>
			<string>Signe de Murphy, Signe de Murphy négatif</string>
			<string>Douleur au McBurney</string>
			<string>Pyrosis</string>
			<string>Régurgitations</string>
			<string>Ictère/prurit, Pas d&apos;ictère ni de prurit</string>
		</array>
		<key>Uro-génital</key>
		<array>
			<string>Percussion des loges rénals, LRSI</string>
			<string>Globe urinaire</string>
		</array>
		<key>Neurologique</key>
		<array>
			<string>Orientation dans l&apos;espace, Orienté dans l&apos;espace,Non orienté dans l&apos;espace</string>
			<string>Orientation dans le temps, Orienté dans le temps,Non orienté dans le temps</string>
			<string>Hallucinations, Pas d&apos;hallucinations, Oui</string>
			<string>Délire,,Oui</string>
			<string>Trouble de l&apos;humeur,,Oui</string>
			<string>Nerfs crâniens, Examen des nerfs crânien SP</string>
			<string>Pupilles , Pupilles ISO-ISO</string>
			<string>Signes méningisme, Pas de signes de méningisme,Oui</string>
			<string>Signe de Kernig, Signe de Kernig négatif, Signe de Kernig positif</string>
			<string>Signe de Brudzinski, Signe de Brudzinski négatif, Signe de Brudzinski positif</string>
			<string>Force, Force conservée aux 4 membres, </string>
			<string>Sensibilité, Sensibilité conservée aux 4 memebres,</string>
			<string>Diadococinésie, Diadococinésie SP</string>
			<string>ROT, ROT normovifs</string>
			<string>Mingazzini, Mingazzini tenu , Mingazzini non tenu</string>
			<string>Romberg, Romberg négatif, Romberg Positif</string>
			<string>Trouble de la parole,,Oui</string>
			<string>Clonus,,Oui</string>
			<string>Asterixis, Pas d&apos;asterixis, Oui</string>
		</array>
		<key>Ostéoarticulaire</key>
		<array>
			<string>Scoliose,,Oui</string>
			<string>Déformation,,Oui</string>
			<string>Douleurs articulaires,, Oui</string>
			<string>Douleur à la percussion du rachis,, Oui</string>
			<string>Douleur à la mobilisation,, Oui</string>
			<string>Tuméfaction,,Oui</string>
			<string>Chaleur d&apos;une articulation,,Oui</string>
		</array>
	</dict>
</dict>
</plist>
