<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Anamnèse Generale</key>
	<dict>
		<key>Antécédents personnels</key>
		<array>
			<string>Maladies, Pas d&apos;autres maladies</string>
			<string>Interventions chirurgicales, Pas d&apos;interventions chirurgicales</string>
			<string>Traumatismes</string>
			<string>Hospitalisations, Pas d&apos;hospitalisations jusqu&apos;à présent</string>
			<string>ATCD psychiatriques, Pas d&apos;ATCD psychiatriques</string>
			<string>Autres ATCD, Pas d&apos;autres ATCD</string>
		</array>
		<key>Anamnèse actuelle</key>
		<array>
			<string>Que-est que vous amène aujourdhui ?, Non renseigné, Le patient consulte pour</string>
		</array>
		<key>Anamnèse psychosociale</key>
		<array>
			<string>Transferts, Non renseigné, </string>
			<string>Marche, Non renseignée</string>
			<string>AVQ/AVI, Non renseigné</string>
			<string>Aide à domicile, Non renseigné</string>
		</array>
		<key>Habitudes</key>
		<array>
			<string>Tabac</string>
			<string>Alcool</string>
			<string>Drogues</string>
			<string>Alimentation, Non renseignée, </string>
			<string>Exercice, Non renseigné</string>
			<string>Allergies, Pas d&apos;allergies, </string>
		</array>
		<key>FRCV</key>
		<array>
			<string>HTA, Pas d&apos;HTA</string>
			<string>Tabac</string>
			<string>Diabète</string>
			<string>Hypercholestérolémie</string>
			<string>ATCD Familiaux</string>
		</array>
	</dict>
	<key>Anamnèse par sytème</key>
	<dict>
		<key>Général</key>
		<array>
			<string>Fièvre</string>
			<string>Frissons</string>
			<string>Sudations nocturnes</string>
			<string>Perte d&apos;appétit</string>
			<string>Perte de poids</string>
			<string>Asthénie, Pas d&apos;Asthénie</string>
			<string>Troubles du sommeil</string>
		</array>
		<key>Peau</key>
		<array>
			<string>Eruptions cutanées, Pas d&apos;éruption cutanées</string>
			<string>Hématomes, Pas d&apos;hématomes</string>
			<string>Lésions</string>
		</array>
		<key>Cardiovasculaire</key>
		<array>
			<string>Douleurs thoraciques</string>
			<string>Dyspnée d&apos;effort</string>
			<string>Orthopnée</string>
			<string>Dyspnée paroxystique nocturne</string>
			<string>Nycturie</string>
			<string>Oedèmes des MI</string>
			<string>Palpitations</string>
			<string>Syncope</string>
			<string>Claudication intermittente</string>
		</array>
		<key>Respiratoire</key>
		<array>
			<string>Toux</string>
			<string>Expectorations, Pas d&apos;expectorations</string>
			<string>Dyspnée</string>
			<string>Douleurs thoraciques</string>
			<string>Douleurs respiro-dépendantes</string>
			<string>Hémoptysie, Pas d&apos;hémoptysie</string>
			<string>Respiration sifflante</string>
		</array>
		<key>Digestif</key>
		<array>
			<string>Transit normal</string>
			<string>Diarrhées</string>
			<string>Melena</string>
			<string>Douleurs abdominales</string>
			<string>Nausées</string>
			<string>Vomissements</string>
			<string>Appétit</string>
			<string>Dyspepsie</string>
			<string>Pyrosis</string>
			<string>Régurgitations</string>
			<string>Ictère/prurit</string>
		</array>
		<key>Uro-génital</key>
		<array>
			<string>Dysurie</string>
			<string>Algurie/Brûlure</string>
			<string>Nycturie</string>
			<string>Polyurie</string>
			<string>Oligurie</string>
			<string>Pollakiurie</string>
			<string>Hématurie</string>
			<string>Incontinence urinaire</string>
			<string>Urgence mictionnelle</string>
			<string>Prostatisme</string>
			<string>Trouble de l&apos;érection</string>
		</array>
		<key>Gynécologique</key>
		<array>
			<string>Grossesse</string>
			<string>Durée des menstruations,,</string>
			<string>Périodicité</string>
			<string>Dysménorrhée</string>
			<string>Ménorrhagie</string>
			<string>Date des dernières règles, non renseigné,</string>
			<string>Dyspareunie</string>
			<string>Pertes vaginales</string>
			<string>Ménarches</string>
			<string>Ménopause</string>
		</array>
		<key>Neurologique</key>
		<array>
			<string>Céphalées</string>
			<string>Troubles du sommeil</string>
			<string>Vertiges</string>
			<string>Faiblesse musculaire</string>
			<string>Convulsions</string>
			<string>Perte de connaissance</string>
			<string>Syncope</string>
			<string>Acuité visuelle, Pas de troubles visuels,</string>
			<string>Perte d&apos;audition, acouphènes</string>
			<string>Paresthésies</string>
			<string>Perte de mémoire</string>
			<string>Changement de personnalité</string>
			<string>Anxiété</string>
			<string>Dépression</string>
		</array>
		<key>Musculo-squelettique</key>
		<array>
			<string>Douleurs articulaires</string>
			<string>Tuméfaction</string>
			<string>Raideur (muscles, articulations, dos)</string>
			<string>Capacité de se laver s&apos;habiller sans difficulté</string>
			<string>Capable de monter et descendre les escaliers</string>
		</array>
	</dict>
	<key>Examen Physique</key>
	<dict>
		<key>Général</key>
		<array>
			<string>TA</string>
			<string>Pouls</string>
			<string>T°</string>
			<string>Poids</string>
			<string>Saturation O2%</string>
			<string>Asthénie</string>
			<string>Cyanose</string>
			<string>Ictère</string>
		</array>
		<key>Cardiovasculaire</key>
		<array>
			<string>B1-B2 bien frappé</string>
			<string>Souffle Cardiaque</string>
			<string>TJ</string>
			<string>RHJ</string>
			<string>Souffle Carotidien</string>
			<string>Oedèmes des MI</string>
			<string>Pouls Pédieux</string>
		</array>
		<key>Respiratoire</key>
		<array>
			<string>MVS</string>
			<string>Râles crepitants</string>
			<string>Sifflement </string>
			<string>Hypoventilation</string>
			<string>Matité à la percussion</string>
		</array>
		<key>Digestif</key>
		<array>
			<string>Bruits Fréquence Normale</string>
			<string>Bruits Tonalité Normale</string>
			<string>ASI</string>
			<string>HSM</string>
			<string>Détente</string>
			<string>Défense</string>
			<string>Signe de Murphy</string>
			<string>Douleur au McBurney</string>
			<string>Pyrosis</string>
			<string>Régurgitations</string>
			<string>Ictère/prurit</string>
		</array>
		<key>Uro-génital</key>
		<array>
			<string>LRSI</string>
			<string>Globe</string>
		</array>
		<key>Neurologique</key>
		<array>
			<string>Orienté dans l&apos;espace</string>
			<string>Orienté dans le temps</string>
			<string>Hallucinations</string>
			<string>Délire</string>
			<string>Trouble de l&apos;humeur</string>
			<string>Examen de NC</string>
			<string>Pupilles Isocore</string>
			<string>Pupilles Isoréactive</string>
			<string>Signes méningisme</string>
			<string>Force</string>
			<string>Sesibilité</string>
			<string>Coordination</string>
			<string>ROT</string>
			<string>Mingazzini</string>
			<string>Trouble de la parole </string>
		</array>
		<key>Musculo-squelettique</key>
		<array>
			<string>Scoliose</string>
			<string>Déformation</string>
			<string>Douleurs articulaires</string>
			<string>Douleur percussion rachis</string>
			<string>Douleur à la mobilisation</string>
			<string>Tuméfaction</string>
			<string>Chaleur</string>
		</array>
	</dict>
</dict>
</plist>
